<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a mat-button routerLink="/">Cocktail builder</a>
      <nav *appUserType="'user' else notUser">
        <button mat-button (click)="logout()">Logout</button>
        <span> {{ (user | async)?.userName }} </span>
        <img [src]="'http://localhost:8000/uploads/'+(user | async)?.avatar" alt="Avatar" class="avatar">
        <a mat-button routerLink="/create">Create cocktail</a>
        <a mat-button routerLink="/userCocktail">My cocktails</a>
      </nav>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #notUser>
  <button mat-icon-button [matMenuTriggerFor]="authorization">
    <mat-icon>login</mat-icon>
  </button>
  <mat-menu #authorization="matMenu">
    <a mat-menu-item routerLink="/login">Login</a>
  </mat-menu>
</ng-template>

