<app-layout>
  <div class="container">
    <form [formGroup]="createCocktailForm" (ngSubmit)="createCocktail()">
      <h2>
        Create cocktail
      </h2>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="form-label">Name of the cocktail</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          id="name"
          class="form-control"
        />
      </mat-form-field>
      <div class="form-group" formArrayName="ingredients">
        <div
          class="form-inline"
          *ngFor="let ingredientControl of getIngredientsControls() let i = index"
        >
          <div [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label class="form-label">Ingredient</mat-label>
              <input
                matInput
                type="text"
                formControlName="ingredient"
                id="ingredient"
                class="form-control"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label class="form-label">Amount</mat-label>
              <input
                matInput
                type="number"
                formControlName="amount"
                id="amount"
                class="form-control"
              />
            </mat-form-field>
            <button
              type="button"
              style="color: red"
              mat-icon-button
              (click)="removeIngredient(i)"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button style="display: block; color: green"
              type="button"
              mat-icon-button
              (click)="addIngredient()"
      >
        <mat-icon>add</mat-icon>
        Add ingredient
      </button>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label class="form-label">Cocktail recipe</mat-label>
        <textarea formControlName="recipe" matInput class="form-control" id="recipe"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Cocktail image</mat-label>
        <app-file-input formControlName="image"></app-file-input>
      </mat-form-field>
      <button style="display:block; margin: 0 auto "
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="createCocktailForm.invalid"
      >
        <mat-icon>send</mat-icon>
        Add cocktail
      </button>
    </form>
  </div>
</app-layout>


