.file-input-container
  display: flex

  input
    flex: 1 1
    border: none
    background: none
    padding: 0
    outline: none
    font: inherit

  input[type="file"]
    display: none

  button
    background: transparent


