<app-layout>
    <app-centered-card title="Login">
      <form fxLayout="column" #f=ngForm  (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label class="form-label">Email</mat-label>
          <input
            type="email"
            name="email"
            autocomplete="username"
            email required matInput ngModel #email="ngModel"
          />
          <mat-error *ngIf="email.touched && email.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="email.touched && email.hasError('email')">
            Enter correct email
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="form-label">Password</mat-label>
          <input
            type="password"
            name="password"
            autocomplete="new-password"
            required matInput ngModel #password="ngModel"
          />
          <mat-error *ngIf="password.touched && password.hasError('required')">
            Password is required!
          </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center" class="linkRegister">
          <a routerLink="/registration" class="link">If you don't have an account, Register</a>
        </div>
        <button type="submit" class="enterBtn" mat-button color="warn" style="display: block; margin: 0 auto">
          login
        </button>
        <button
          type="button"
          mat-raised-button
          color="default"
          (click)="fbLogin()"
          style="margin-top: 16px"
        >
          <img
            src="assets/icons/meta.svg"
            style="width: 24px; height: 24px;"
          />&nbsp;&nbsp;
          SIGN IN WITH META
        </button>
      </form>
    </app-centered-card>
</app-layout>

