<app-layout>
  <div class="container">
    <div *ngFor="let cocktail of (cocktails | async ); let i = index" >
    <mat-card *appHasRoles="{role: ['user', 'admin'], published: cocktail.is_published}">
      <mat-card-header>
        <strong>{{ cocktail.name }}</strong>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout>
          <div>
            <img mat-card-lg-image alt="" [src]="'http://localhost:8000/uploads/'+cocktail.image">
          </div>
          <div class="ingredients">
            <span>
              Ingredients
            </span>
            <ul>
              <li *ngFor="let item of cocktail?.ingredients">{{ item?.ingredient }} - <b>{{ item?.amount }}</b></li>
            </ul>
          </div>
        </div>
        <p class="recipe">{{ cocktail.recipe }}</p>
        <div *appHasRoles="{role: ['user', 'admin'], published: !cocktail.is_published}">
          <button *ngIf="!cocktail.is_published" mat-button (click)="editCocktail(cocktail._id)" >
            <mat-icon class="publish-icon">done</mat-icon>
            Publish
          </button>
          <button mat-button (click)="removeCocktail(cocktail._id)">
            <mat-icon class="remove-icon">delete</mat-icon>
            Remove
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
  </div>
</app-layout>

