<app-layout>
  <div class="container">
    <div *ngFor="let cocktail of (cocktails | async ); let i = index" >
      <mat-card *appCheckUser="cocktail.user">
        <mat-card-header>
          <strong>{{ cocktail.name }}</strong>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout>
            <div>
              <img mat-card-lg-image alt="" [src]="'http://localhost:8000/uploads/'+cocktail.image">
            </div>
            <div class="ingredients">
            <span>
              Ingredients
            </span>
              <ul>
                <li></li>
              </ul>
            </div>
          </div>
          <p class="recipe">{{ cocktail.recipe }}</p>
        </mat-card-content>
        <mat-card-footer>
          <i *ngIf="!cocktail.is_published">being moderated by the admin</i>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</app-layout>

