.container
  display: flex
  flex-wrap: wrap
  justify-content: flex-start

mat-card
  max-width: 320px
  margin: 0 5px 10px

.title
  margin: 0
  display: flex
  justify-content: space-between
  padding-top: 10px

mat-card-header span
  margin-left: auto

mat-card-header strong
  font-size: 24px
  padding: 5px

.ingredients
  padding: 0 5px

.ingredients span
  font-weight: bold

ul
  margin: 0
